<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <!-- css -->
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Front Range IT</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    
    <!-- nav brad -->
    <div class="navbar-fixed">
      <nav class="blue-grey darken-3">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">
            Front Range IT<%= image_tag('logo.png', size: "35x35", class: "logoimage") %>
          </a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down" id="nav-full">
          <!-- navbar full size view -->
            <li><a href="/about/index">About</a></li>
            <li><a href="/contact/index">Contact</a></li>
            <li><a class="waves-effect waves-light btn cyan accent-4" href="/login/index">login</a></li>
          </ul>
          <!-- sidenav collapsed view -->
          <ul class="side-nav" id="nav-mobile">
            <li><a href="/about/index">About</a></li>
            <li><a href="/contact/index">Contact</a></li>
            <li><a class="waves-effect waves-light btn cyan accent-4" href="/login/index">login</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>

  </body>
  
  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 scrollspy" id="about_tab">
          <h5 class="grey-text text-lighten-2">About Us</h5>
          <p class="grey-text text-lighten-2">
            Front Range IT<br>
            #PHONE NUMBER#<br>
            SUPPORT@FRONTRANGEIT.NET
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="grey-text text-lighten-2">Links</h5>
          <ul>
            <li><a class="cyan-text" href="/about/index">About</a></li>
            <li><a class="cyan-text" href="/contact/index">Contact</a></li>
            <li><a class="cyan-text" href="/login/index">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container">
        <a class="grey-text text-lighten-3 right" style="font-size: .66em;" href="https://wreet.co">
          Powered by wreetco
          &nbsp;
          <img src="https://wreet.co/assets/wreetco_icon_alt.png" style="width: 2.5em; position: relative; top: 1em;" />
        </a>
      </div>
    </div>
  </footer>

  <!--javascript scripts-->
  <script type="text/javascript">
    /* global enquire */
    /* global $ */
    /* global Materialize */
    $(document).ready(function(){
      //parallax initialization
      $('.parallax').parallax();
      // scrollspy initialization
      $('.scrollspy').scrollSpy();
      //slider initialization
      $('.slider').slider({full_width: true});
      // Activate the side menu 
 			$(".button-collapse").sideNav({
 			  menuWidth: 150,
 			  edge: 'left'
 			});
 			//accordion menu initialization
 			$('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
    });
    // enquire stuff for this page
    // largest breakpoint in materialize "desktop"
    enquire.register("only screen and (min-width: 992px)", {
      match: function(){
      } // end match
    });
    // medium breakpoint "tablet"
    enquire.register("only screen and (max-width: 991px) and (min-width: 601px)", {
      match: function(){
      } // end match
    });
    // small breakpoiint, "phone"
    enquire.register("only screen and (max-width: 600px)", {
      match: function(){
      } // end match
    });

  </script>
  
</html>
